body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(33deg, cyan, yellow);
    background-repeat: no-repeat;
}

h1 {
    color: chocolate;
}

.register-form {
    display: flex;
    text-align: center;
}

.signup-form {
    width: 600px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgray;
    border-radius: 10px;
}

.signup-form h1 {
    font-size: 40px;
    text-align: center;
}

.signup-form p {
    text-align: center;
}

.signup-form button {
    width: 30%;
    height: 35px;
    font-size: 20px;
    background-color: deepskyblue;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.signup-form button:hover {
    background-color: dodgerblue;
}

.form-item {
    margin: 0 25%;
}

.form-item label {
    font-size: 20px;
    font-weight: 600;
    float: left;
}

.form-item input {
    width: 300px;
    height: 25px;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid cornflowerblue;
}